body {
  height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.lodaing {
  width: 20px;
  height: 100px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loading ease-in-out 0.1s 100;
}

.lodaing .circle1 {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}
.lodaing .circle2 {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%x;
  margin-top: 60px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
